.recorder-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.mic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mic-button {
  background-color: #06603a;
  color: white;
  width: 120px; /* Increased size */
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.mic-button:hover {
  background-color: #04a16c;
  transform: scale(1.1); /* Enlarge on hover */
}

.mic-button.recording {
  background-color: red;
  box-shadow: 0 0 20px red; /* Add glowing effect when recording */
}

p {
  font-size: 18px;
  margin-top: 20px;
}

.audio-player {
  margin-top: 20px;
}

.send-button {
  background-color: #06603a;
  color: white;
  padding: 10px 20px;
  border-radius: 20px; /* Rounded corners */
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.send-button:hover {
  background-color: #04a16c; /* Hover background change */
}
