.header-pc{
    width: 100%;
    background-color: #1687a7;
    padding: 10px;
    display: flex;
}
.header-comp-pc{
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
}
.header-comp-pc h5{
    font-weight: bold;
    font-size: large;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.header-comp-pc h5:hover{
    text-shadow: 2px 2px 2px #0a333f;
    transform: scale(1.01);
}

.header-pc-login{
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: right;
}
.header-pc-login button{
    width: 100px;
    height: 40px;
    background-color: #1687a7;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}
.header-pc-login button:hover{
    background-color: white;
    color: #1687a7;
}

/* Mobile Devices */
.navbar-mobile{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.navbar-mobile-menu{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menu-mobile-item{
    padding: 5px;
    display: flex;
    justify-content: center;
    color: white;
    transition: all 0.3s ease-in-out;
}
.menu-mobile-item:hover{
    color: gainsboro;
}
.menu-mobile-item-line{
    border: 0.5px solid white;
}